.navbar {
    background: rgba(0, 0, 0, 0.5);
}

.default {
    text-decoration: none;
}

.default:hover {
    text-decoration: none;
}

.active {
   text-decoration: underline;
   text-decoration-color: white;
   
}

.active:hover {
    text-decoration-color: white;
}

.latoBold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
  }
